<br>
<% cache cache_key_for_product do %>
  <div data-hook="product_show" class="row" itemscope itemtype="https://schema.org/Product">
    <div class="row">
      <div class="col-sm-12" data-hook="product_left_part">
        <div id="product-images" data-hook="product_images">

          <div data-hook="product_left_part_wrap">
            <div id="main-image" class="" data-hook>
              <%= image_tag(@product.images.last.attachment.url(:original), class: "img-responsive", itemprop: "image") %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-8">
        <br>
        <h1 class="product-title" itemprop="name"><%= @product.name %></h1>
        <p class="product-teaser"><%= @product.property('Description').html_safe if !@product.property('Description').blank? %></p>
      </div>
      <div class="col-sm-12 col-md-4">
        <br>
        <div class="quick-facts">
          <h3 class="taxon-title">About <%= @product.name %></h3>
          <div class="goals-area">
            <div class="current-orders">
              <% @variants = Spree::Variant.where(product_id: @product.id).ids %>
              <% @units = Spree::LineItem.where(variant_id: @variants) %>
              <span class="number-highlight" style="color:green;"><%= @units.count %></span> 
              <br>
              Units Ordered
              <div class="units-remaining"><%= @product.property('Units').to_i - @units.count.to_i %> remaining in stock</div>
            </div>
            <div class="goal-details">
              <span class="number-highlight"><%= (@product.discontinue_on - Time.now).to_i / 1.day if !@product.discontinue_on.blank? %></span>
              <br>
              Days Remaining on Discount
            </div>
            <div class="current-orders">
              <a href="#discounts" class="btn btn-success" style="width: 100%;"> See Offers</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <hr>
      <div class="support-options" id="discounts">
        <h3 class="taxon-title">The Delicious Discounts</h3>
        <div class="row">
          <% @variant_images = @product.variant_images.where.not(viewable_id: @product.id) %>
          <div class="col-sm-12 col-md-4">
            <%= form_for :order, url: populate_orders_path do |f| %>
                <div class="" style="display:none;"><%= radio_button_tag "variant_id", @product.variants.offset(2).last.id, :checked => true, style: "display:none;"%></div>
                <%= number_field_tag :quantity, 1, class: 'title form-control', min: 1, style: "display:none;" %>
              <%= button_tag id: 'add-to-cart-button', type: :submit do %>
                <div class="support-option">
                  <%=image_tag(@variant_images[1].attachment.url, itemprop: "image", class: "img-responsive", style: "margin:auto;") %>
                  <div class="price-of-option">$25 <span style="color:lightgrey;font-size:18px;">USD</span></div>
                  <div class="title-of-option"><%= @product.property('25-title')%></div>
                  <div class="description-of-option"><%= @product.property('25-description')%></div>
                  <div class="btn btn-success">Buy $25 Pack</div>
                </div>
              <% end %>
            <% end %>
          </div>
          <div class="col-sm-12 col-md-4">
            <%= form_for :order, url: populate_orders_path do |f| %>
                <div class="" style="display:none;"><%= radio_button_tag "variant_id", @product.variants.offset(1).last.id, :checked => true, style: "display:none;"%></div>
                <%= number_field_tag :quantity, 1, class: 'title form-control', min: 1, style: "display:none;" %>
              <%= button_tag id: 'add-to-cart-button', type: :submit do %>
                <div class="support-option">
                  <%=image_tag(@variant_images[2].attachment.url, itemprop: "image", class: "img-responsive", style: "margin:auto;") %>
                  <div class="price-of-option">$50 <span style="color:lightgrey;font-size:18px;">USD</span></div>
                  <div class="title-of-option"><%= @product.property('50-title')%></div>
                  <div class="description-of-option"><%= @product.property('50-description')%></div>
                  <div class="btn btn-success">Buy $50 Pack</div>
                </div>
              <% end %>
            <% end %>
          </div>
          <div class="col-sm-12 col-md-4">
            <%= form_for :order, url: populate_orders_path do |f| %>
                <div class="" style="display:none;"><%= radio_button_tag "variant_id", @product.variants.last.id, :checked => true, style: "display:none;"%></div>
                <%= number_field_tag :quantity, 1, class: 'title form-control', min: 1, style: "display:none;" %>
              <%= button_tag id: 'add-to-cart-button', type: :submit do %>
                <div class="support-option">
                  <%=image_tag(@variant_images[3].attachment.url, itemprop: "image", class: "img-responsive", style: "margin:auto;") %>
                  <div class="price-of-option">$100 <span style="color:lightgrey;font-size:18px;">USD</span></div>
                  <div class="title-of-option"><%= @product.property('100-title')%></div>
                  <div class="description-of-option"><%= @product.property('100-description')%></div>
                  <div class="btn btn-success">Buy $100 Pack</div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <hr>
        <%= product_description(@product) %>
      </div>
    </div>
<% end %>