<% @body_id = 'product-details' %>

<%= render partial: 'spree/shared/trackers/segment/product_viewed.js',
            formats: :js,
            locals: { product: @product } %>

<% if @product.taxons.map{|t| t.name}.include?("Tasting Bar") %>
  <% cache cache_key_for_product do %>
    <div data-hook="product_show" class="row" itemscope itemtype="https://schema.org/Product">
      <div class="col-md-4 col-sm-5" data-hook="product_left_part">
        <div data-hook="product_left_part_wrap">
          <div id="product-images" data-hook="product_images">
            <div id="main-image" class="panel panel-default" data-hook>
              <div class="panel-body text-center">
                <%= product_image(@product, itemprop: "image") %>
              </div>
            </div>
            <div id="thumbnails" data-hook>
              <%= render partial: 'thumbnails' %>
            </div>
          </div>

          <div data-hook="product_properties">
            <%= render partial: 'properties' %>
          </div>

          <div data-hook="promotions">
            <%= render partial: 'promotions' %>
          </div>
        </div>
      </div>

      <div class="col-md-8 col-sm-7" data-hook="product_right_part">
        <div data-hook="product_right_part_wrap">
          <div id="product-description" data-hook="product_description">
            <h1 class="product-title" itemprop="name"><%= @product.name %></h1>
            
            <div id="cart-form" data-hook="cart_form">
              <%= render partial: 'cart_form' %>
            </div>
            
            <div class="well" itemprop="description" data-hook="description">
              <%= product_description(@product) %>
            </div>
          </div>

          <div id="taxon-crumbs" class=" five " data-hook="product_taxons">
            <%= render partial: 'taxons' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <% cache cache_key_for_product do %>
    <div data-hook="product_show" class="row" itemscope itemtype="https://schema.org/Product">
      <div class="col-sm-12">
        <h1 class="product-title" itemprop="name"><%= @product.name %></h1>
        <p><%= @product.property('Description').html_safe %></p>
      </div>
      <div class="col-sm-12 col-md-8">
        <%= image_tag(@product.images.last.attachment.url(:original), class: "img-responsive") %>
        <%= product_description(@product) %>
      </div>
      <div class="col-sm-12 col-md-4">
        
        <h3>Goals and Targets</h3>
        <hr>
        <div class="goals-area">
          <div class="current-orders">
            <% @variants = Spree::Variant.where(product_id: 15).ids %>
            <% @units = Spree::LineItem.where(variant_id: @variants) %>
            <span class="number-highlight" style="color:green;"><%= @units.count %></span> 
            <br>
            Units Ordered
            <div class="units-remaining"><%= @product.property('Units').to_i - @units.count.to_i %> remaining to reach target units</div>
          </div>
          <div class="goal-target">
            <span class="number-highlight"><%= @product.property('Units')%></span>
            <br>
            Target Units Ordered
          </div>
          <div class="goal-details">
            <span class="number-highlight"><%= (@product.discontinue_on - Time.now).to_i / 1.day %></span>
            <br>
            Days Remaining
          </div>
        </div>
        <hr>
        <div class="support-options">
          <h3>Bring This Product Into Reality By Selecting A Buy Option</h3>
          <%= form_for :order, url: populate_orders_path do |f| %>
              <div class="" style="display:none;"><%= radio_button_tag "variant_id", @product.variants.offset(2).last.id, :checked => true, style: "display:none;"%></div>
              <%= number_field_tag :quantity, 1, class: 'title form-control', min: 1, style: "display:none;" %>
            <%= button_tag id: 'add-to-cart-button', type: :submit do %>
              <div class="support-option">
                <%=image_tag(@product.variant_images[2].attachment.url, itemprop: "image", class: "img-responsive") %>
                <div class="price-of-option">$25 <span style="color:lightgrey;font-size:18px;">USD</span></div>
                <div class="title-of-option"><%= @product.property('25-title')%></div>
                <div class="description-of-option"><%= @product.property('25-description')%></div>
                <div class="btn btn-success">Buy This Option</div>
              </div>
            <% end %>
          <% end %>
          <%= form_for :order, url: populate_orders_path do |f| %>
              <div class="" style="display:none;"><%= radio_button_tag "variant_id", @product.variants.offset(1).last.id, :checked => true, style: "display:none;"%></div>
              <%= number_field_tag :quantity, 1, class: 'title form-control', min: 1, style: "display:none;" %>
            <%= button_tag id: 'add-to-cart-button', type: :submit do %>
              <div class="support-option">
                <%=image_tag(@product.variant_images[3].attachment.url, itemprop: "image", class: "img-responsive") %>
                <div class="price-of-option">$50 <span style="color:lightgrey;font-size:18px;">USD</span></div>
                <div class="title-of-option"><%= @product.property('50-title')%></div>
                <div class="description-of-option"><%= @product.property('50-description')%></div>
                <div class="btn btn-success">Buy This Option</div>
              </div>
            <% end %>
          <% end %>
          <%= form_for :order, url: populate_orders_path do |f| %>
              <div class="" style="display:none;"><%= radio_button_tag "variant_id", @product.variants.last.id, :checked => true, style: "display:none;"%></div>
              <%= number_field_tag :quantity, 1, class: 'title form-control', min: 1, style: "display:none;" %>
            <%= button_tag id: 'add-to-cart-button', type: :submit do %>
              <div class="support-option">
                <%=image_tag(@product.variant_images[4].attachment.url, itemprop: "image", class: "img-responsive") %>
                <div class="price-of-option">$100 <span style="color:lightgrey;font-size:18px;">USD</span></div>
                <div class="title-of-option"><%= @product.property('100-title')%></div>
                <div class="description-of-option"><%= @product.property('100-description')%></div>
                <div class="btn btn-success">Buy This Option</div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
  <% end %>
<% end %>